<aside class="w-56 shrink-0 h-screen flex flex-col border-r border-[#00000017] bg-secondary">
  <div class="px-4 py-4 border-b border-[#00000017]">
    <div class="flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-bookmark w-4 h-4 text-foreground"
      >
        <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z"></path></svg
      ><span class="text-sm font-semibold tracking-tight">Marks</span>
    </div>
  </div>
  <nav class="flex-1 overflow-y-auto py-4 px-2 flex flex-col gap-5">
    <app-sections></app-sections>
    <app-folders></app-folders>
    <app-tags></app-tags>
  </nav>
  <app-saved></app-saved>
</aside>
