<div
  class="px-4 xs:px-7 py-2.5 border-b border-border flex flex-wrap items-center shrink-0 bg-background"
  bis_skin_checked="1"
>
  <span class="text-sm font-semibold text-foreground">{{ sectionTitle() }} Bookmarks</span>
  @if (folderTitle()) {
    <span class="text-sm font-semibold text-foreground">&nbsp;in '{{ folderTitle() }}' Folder</span>
  }
  @if (tagTitle()) {
    <span class="text-sm font-semibold text-foreground">&nbsp;with '{{ tagTitle() }}' Tag</span>
  }
  <span class="text-xs text-muted-foreground" style="font-family: 'JetBrains Mono', monospace"
    >&nbsp;— {{ allBookmarkCount() }}</span
  >
</div>
