<div bis_skin_checked="1">
  <div class="flex justify-between items-center">
    <p
      class="px-2.5 text-[10px] font-semibold text-muted-foreground uppercase tracking-widest"
      style="font-family: 'JetBrains Mono', monospace"
    >
      Folders
    </p>
    <button
      class="flex items-center gap-1.5 px-1 py-1 bg-primary text-primary-foreground text-sm rounded-sm hover:opacity-90 transition-opacity cursor-pointer"
      (click)="openCreateFolderModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus w-3.5 h-3.5"
      >
        <path d="M5 12h14"></path>
        <path d="M12 5v14"></path>
      </svg>
    </button>
  </div>
  <div class="flex flex-col gap-0.5 mt-2" bis_skin_checked="1">
    @if (folders().length > 0) {
      @for (folder of folders(); track folder.id) {
        <button
          class="w-full flex items-center gap-2.5 px-2.5 py-1.5 rounded-sm text-sm transition-colors text-left text-muted-foreground hover:text-foreground hover:bg-accent"
        >
          <span
            class="w-2 h-2 rounded-full shrink-0"
            [style]="{ 'background-color': folder.color }"
          ></span
          ><span class="truncate">{{ folder.title }}</span
          ><span
            class="ml-auto text-xs opacity-50"
            style="font-family: 'JetBrains Mono', monospace"
            >{{ folder.bookmarksCount }}</span
          >
        </button>
      }
    } @else if (isLoading()) {
      <p class="text-xs text-muted-foreground mx-1">Loading...</p>
    } @else {
      <p class="text-xs text-muted-foreground mx-2.5">No folders found</p>
    }
  </div>
</div>

<app-create-folder-modal
  [isOpen]="isCreateFolderModalOpened()"
  (close)="closeCreateFolderModal()"
  (createFolder)="createFolder($event)"
/>
